<div class="w-100 d-flex pl-3 justify-content-end">
    <button class="btn btn-secondary mr-1" data-action="back">{{#str}}back, core{{/str}}</button>
    <button class="btn btn-secondary mr-1" data-action="cancel">{{#str}}cancel, core{{/str}}</button>
    <button class="btn btn-primary mr-1" data-action="add">{{#str}}addtrade, tiny_stash{{/str}}</button>
</div>
