<div class="w-100 d-flex pl-3">
    <input class="form-check-input submit-then-drop mr-auto" id="location-check" type="checkbox" checked />
    <label class="form-check-label mr-auto" for="location-check">{{#str}}addlocationitem, tiny_stash{{/str}}</label>
    <button class="btn btn-secondary" data-action="back">{{#str}}back, core{{/str}}</button>
    <button class="btn btn-secondary" data-action="cancel">{{#str}}cancel, core{{/str}}</button>
    <button class="btn btn-primary" data-action="add">{{#str}}additem, tiny_stash{{/str}}</button>
</div>
