<div class="w-100 d-flex pl-3">
    <input class="form-check-input submit-then-drop mr-auto" id="location-check" type="checkbox" checked />
    <label class="form-check-label mr-auto" for="location-check">Add a location for this item</label>
    <button class="btn btn-secondary" data-action="back">Back</button>
    <button class="btn btn-secondary" data-action="cancel">Cancel</button>
    <button class="btn btn-primary" data-action="add">Add item</button>
</div>
