<div>
    <button class="btn btn-secondary" data-action="cancel">{{#str}}cancel, core{{/str}}</button>
    <button class="btn btn-primary" data-action="save">{{#str}}save, core{{/str}}</button>
</div>
