<nav class="navbar navbar-expand-lg navbar-light bg-light pb-2 mb-2">
    <span class="navbar-brand mb-0 h1"></span>
    <div class="d-flex flex-row ml-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerItems" aria-controls="navbarTogglerItems" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerItems">
            <div class="navbar-nav mr-auto">
            </div>
            <div class="btn-group" role="group" aria-label="{{#str}}additemsandlocation, tiny_stash{{/str}}">
                <button class="btn btn-outline-primary tiny-stash-add-item" data-location="trade">{{#str}}additem, tiny_stash{{/str}}</button>
            </div>
        </div>
    </div>
</nav>
