<select class="tiny-stash-item-select form-control">
    {{#items}}
        <option data-hash="{{hashcode}}" data-type="item" data-id="{{itemid}}">{{name}} ({{location}})</option>
    {{/items}}
</select>
<div class="input-group-append">
    <a href="#" class="btn btn-primary tiny-stash-add-drop">Add a location</a>
</div>
