<form>
    <div class="form-group">
        <label>Item</label>
        {{^oneonly}}
        <select class="form-control custom-select stash-item mr-sm-2">
            <option selected>Choose...</option>
            {{#items}}
            <option value="{{id}}">{{name}}</option>
            {{/items}}
        </select>
        {{/oneonly}}
        {{#oneonly}}
            {{#items}}
            <input type="text" class="form-control stash-item" data-id="{{id}}" value="{{name}}" readonly />
            {{/items}}
        {{/oneonly}}
    </div>
    <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control location-name" placeholder="Location" />
    </div>
    <div class="form-group">
        <div class="form-row align-items-end">
            <div class="col-auto my-1">
                <label>Supplies</label>
                <input type="number" class="form-control location-supplies" placeholder="1" value="1" min="1" />
            </div>
            <div class="col-auto my-1 d-flex align-items-end">
                <div class="custom-control custom-checkbox mr-sm-2 mb-2">
                    <input type="checkbox" class="custom-control-input" id="supplyunlimited" />
                    <label class="custom-control-label" for="supplyunlimited">Unlimited</label>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row align-items-end">
            <div class="col-auto my-1">
                <label>Collection interval</label>
                <input type="text" class="form-control intervalnumber" placeholder="1" value="1" size="3" disabled />
            </div>
            <div class="col-auto my-1">
                <label class="sr-only">Collection interval time</label>
                <select class="form-control custom-select pickupinterval mr-sm-2" disabled>
                    <option value="604800">weeks</option>
                    <option value="86400">days</option>
                    <option value="3600" selected>hours</option>
                    <option value="60">minutes</option>
                    <option value="1">seconds</option>
                </select>
            </div>
        </div>
    </div>
</form>
