<form>
    <div class="input-group tiny-stash-drop-select pt-2">
        <div>
            <label for="location-select">{{#str}}locations, block_stash{{/str}}</label>
            {{> tiny_stash/drop-select}}
        </div>
    </div>
    {{> tiny_stash/item-drop-snippet}}
    <div class="tiny-stash-item-code bg-light text-muted mt-2 px-2 py-2 border">
    </div>
</form>
