{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Help section of the tabbed interface.
}}
<div class="mt-2">
    <h4>General overview</h4>
    <p>Stash is a series of plugins that allows you to add items around the course for students to find and collect.</p>
    <p>This editor plugin allows you to create items and tie them to a location. The location and its associated information is what is added to this text area for students to interact with.</p>
    <p>More detailed information is available here:</p>
    <ol>
        <li><a href="#" class="tiny-stash-help" data-tab-index="4">Items and how to create them</a></li>
        <li><a href="#" class="tiny-stash-help" data-tab-index="5">Locations and what they are for</a></li>
        <li><a href="#" class="tiny-stash-help" data-tab-index="6">Trades and when to use them</a></li>
    </ol>
</div>
