<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">{{#str}}itemsandlocation, tiny_stash{{/str}}</span>
    <div class="d-flex flex-row ml-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerItems" aria-controls="navbarTogglerItems" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <h4>{{#str}}items, tiny_stash{{/str}}</h4> -->
        <div class="collapse navbar-collapse" id="navbarTogglerItems">
            <div class="navbar-nav mr-auto">
            </div>
            <div class="btn-group" role="group" aria-label="{{#str}}additemsandlocation, tiny_stash{{/str}}">
                <button class="btn btn-outline-primary tiny-stash-add-item">{{#str}}additem, tiny_stash{{/str}}</button>
                <button class="btn btn-outline-primary tiny-stash-add-drop">{{#str}}addlocation, tiny_stash{{/str}}</button>
            </div>
        </div>
    </div>
</nav>
<form>
    <div class="input-group tiny-stash-drop-select pt-2">
    {{> tiny_stash/drop-select}}
    </div>
    {{> tiny_stash/item-drop-snippet}}
    <div class="tiny-stash-item-code">
    </div>
    <!-- Show selected thing -->
    <!-- Provide options related to this thing -->
</form>
