<form>
    <div class="input-group tiny-stash-trade-select pt-2">
        {{> tiny_stash/local/selectors/trade-drop-selector}}
    </div>
    <div class="preview px-2 py-2"></div>
    <div class="tiny-stash-trade-code bg-light text-muted mt-2 px-2 py-2 border">
    </div>
    <!-- Show selected thing -->
    <!-- Provide options related to this thing -->
</form>
